  <% include ../../partials/head %>
  <body>
      <% include ../../partials/navbar %>
    <main>
      <div class="container">
        <div class="row">
          <div class="row mb-2 mt-4">
            <div class="col-md-12  img-news">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">Processeur</strong>
                  <h3 class="mb-0">Nouvel gamme Howl</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aperiam architecto esse suscipit earum sapiente.</p>
                  <a href="/news/cpu" class="stretched-link">Continuer de lire</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="n-img" src="/public/img/black.jpg" alt="#" width="200" height="250" class="image-newss">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">Carte Graphique</strong>
                  <h3 class="mb-0">ScanTracing</h3>
                  <div class="mb-1 text-muted">Dec 11</div>
                  <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aperiam architecto esse suscipit earum sapiente.</p>
                  <a href="/news/scantracing" class="stretched-link">Continuer de lire</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="n-img" src="/public/img/black.jpg" alt="#" width="200" height="250" class="image-newss">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">Software</strong>
                  <h3 class="mb-0">SpeedX</h3>
                  <div class="mb-1 text-muted">Dec 11</div>
                  <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde aperiam architecto esse suscipit earum sapiente.</p>
                  <a href="/news/speedx" class="stretched-link">Continuer de lire</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="n-img" src="/public/img/black.jpg" alt="#" width="200" height="250" class="image-newss">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>