 <% include ../../partials/head %>
    <body>
        <% include ../../partials/navbar %>
    <main>
        <div class="container">
            <div class="py-5 text-center">
                <h1>Nos partenaires officiel</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-4 text-center">
                    <a class="image" href="https://www.msi.com/index.php" target="blank"><img src="/public/img/partner/msi.png" alt="MSI" height="98,125" width="312,5"></a>
                </div>
                <div class="col-lg-4 text-center">
                    <a class="image" href="https://www.corsair.com/fr/fr/" target="blank"><img src="/public/img/partner/corsair.png" alt="Corsair" height="129,9" width="180"></a>
                </div>
                <div class="col-lg-4 mt-4 text-center">
                    <a class="image" href="https://www.nzxt.com/" target="blank"><img src="/public/img/partner/nzxt.png" alt="NZXT" height="96" width="248"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-5 text-center">
                    <a class="image" href="https://www.hyperxgaming.com/" target="blank"><img src="/public/img/partner/hyperx.png" alt="HyperX" height="98,125" width="312,5"></a>
                </div>
                <div class="col-lg-4 mt-5 text-center">
                    <a class="image" href="https://steelseries.com/" target="blank"><img src="/public/img/partner/steelseries.png" alt="Steelseries" height="81,6" width="300"></a>
                </div>
                <div class="col-lg-4 mt-5 text-center">
                    <a class="image" href="https://www.adobe.com/ch_fr/" target="blank"><img src="/public/img/partner/adobe.png" alt="Adobe" height="64,4" width="256"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mt-5 text-center">
                    <a class="image" href="https://www.maxon.net/en-us/" target="blank"><img src="/public/img/partner/maxon.png" alt="Maxon Cinema4D" height="97" width="300"></a>
                </div>
                <div class="col-lg-4 mt-4 text-center">
                    <a class="image" href="https://home.otoy.com/" target="blank"><img src="/public/img/partner/octane.png" alt="Octane Render" height="120" width="120"></a>
                </div>
                <div class="col-lg-4 mt-4 text-center">
                    <a class="image" href="https://www.blender.org/" target="blank"><img src="/public/img/partner/blender.png" alt="Blender" height="110" width="360"></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mt-4 text-center">
                    <a class="image" href="https://www.twitch.tv/p/fr-fr/about/" target="blank"><img src="/public/img/partner/twitch.png" alt="Maxon Cinema4D" height="148" width="240"></a>
                </div>
                <div class="col-lg-6 mt-5 text-center">
                    <a class="image" href="https://obsproject.com/fr" target="blank"><img src="/public/img/partner/obs.png" alt="Octane Render" height="126" width="126"></a>
                </div>
            </div>
        </div>
    </main>
    <% include ../../partials/footer %>
  </body>
</html>