  <% include ../../../partials/head %>
  <body>
    <% include ../../../partials/navbar %>>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <a class="button-back" href="/news" role="button">
                        Retour
                    </a>
                    <h1 class="text-center">Nouvelle gamme Howl</h1>
                </div>
                <div class="col-12 mt-5 text-news">
                    <h2 id="Titre1">Titre 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna ut massa feugiat faucibus sit amet non tellus. In id eros nec enim lacinia accumsan vel at purus. Praesent consectetur ante ante, eget posuere tortor efficitur non. Pellentesque consectetur ex sit amet erat porta elementum. Donec at quam posuere, elementum libero sed, pulvinar risus. Fusce sed luctus diam. Nunc fermentum, libero vitae imperdiet euismod, sem est accumsan ante, sit amet venenatis libero magna nec turpis. In semper faucibus aliquet. Etiam nec malesuada metus, ac commodo quam. Sed finibus congue purus, porttitor accumsan risus auctor eget. Integer tincidunt purus non nulla ultricies congue ut non neque. Curabitur et congue diam, sed ultrices nulla. Praesent maximus mollis est, ut tempus dolor molestie sit amet. Quisque ac mauris ex. Aliquam erat volutpat. Morbi ultrices hendrerit varius.</p>
                </div>
                <div class="col-12 mt-5 text-news">
                    <h2 class="text-right" id="Titre2">Titre 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna ut massa feugiat faucibus sit amet non tellus. In id eros nec enim lacinia accumsan vel at purus. Praesent consectetur ante ante, eget posuere tortor efficitur non. Pellentesque consectetur ex sit amet erat porta elementum. Donec at quam posuere, elementum libero sed, pulvinar risus. Fusce sed luctus diam. Nunc fermentum, libero vitae imperdiet euismod, sem est accumsan ante, sit amet venenatis libero magna nec turpis. In semper faucibus aliquet. Etiam nec malesuada metus, ac commodo quam. Sed finibus congue purus, porttitor accumsan risus auctor eget. Integer tincidunt purus non nulla ultricies congue ut non neque. Curabitur et congue diam, sed ultrices nulla. Praesent maximus mollis est, ut tempus dolor molestie sit amet. Quisque ac mauris ex. Aliquam erat volutpat. Morbi ultrices hendrerit varius.</p>
                </div>
                <div class="col-12 mt-5 text-news">
                    <h2 id="Titre3">Titre 3</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna ut massa feugiat faucibus sit amet non tellus. In id eros nec enim lacinia accumsan vel at purus. Praesent consectetur ante ante, eget posuere tortor efficitur non. Pellentesque consectetur ex sit amet erat porta elementum. Donec at quam posuere, elementum libero sed, pulvinar risus. Fusce sed luctus diam. Nunc fermentum, libero vitae imperdiet euismod, sem est accumsan ante, sit amet venenatis libero magna nec turpis. In semper faucibus aliquet. Etiam nec malesuada metus, ac commodo quam. Sed finibus congue purus, porttitor accumsan risus auctor eget. Integer tincidunt purus non nulla ultricies congue ut non neque. Curabitur et congue diam, sed ultrices nulla. Praesent maximus mollis est, ut tempus dolor molestie sit amet. Quisque ac mauris ex. Aliquam erat volutpat. Morbi ultrices hendrerit varius.</p>
                </div>
                <div class="col-12 mt-5 text-news">
                    <h2 class="text-right" id="Titre4">Titre 4</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu magna ut massa feugiat faucibus sit amet non tellus. In id eros nec enim lacinia accumsan vel at purus. Praesent consectetur ante ante, eget posuere tortor efficitur non. Pellentesque consectetur ex sit amet erat porta elementum. Donec at quam posuere, elementum libero sed, pulvinar risus. Fusce sed luctus diam. Nunc fermentum, libero vitae imperdiet euismod, sem est accumsan ante, sit amet venenatis libero magna nec turpis. In semper faucibus aliquet. Etiam nec malesuada metus, ac commodo quam. Sed finibus congue purus, porttitor accumsan risus auctor eget. Integer tincidunt purus non nulla ultricies congue ut non neque. Curabitur et congue diam, sed ultrices nulla. Praesent maximus mollis est, ut tempus dolor molestie sit amet. Quisque ac mauris ex. Aliquam erat volutpat. Morbi ultrices hendrerit varius.</p>
                </div>
            </div>
        </div>
    </main>
    <% include ../../../partials/footer %>
  </body>
</html>