    <% include ../partials/head %>
    <body>
        <% include ../partials/navbar %>
        <main>
            <div class="container mt-5">
                <div class="row text-center mt-5">
                    <div class="col-12">
                        <h2>Page introuvable...</h2>
                    </div>
                </div>
                <div class="row text-center mb-5">
                    <div class="col-12">
                        <p>
                            Cette page n'existe pas ou n'est temporairement pas disponible.
                        </p>
                    </div>
                </div>
            </div>
        </main>
        <% include ../partials/footer %>
    </body>
</html>