    <% include ../../partials/head %>
    <body class="thank-you-page">
        <% include ../../partials/navbar %>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center mt-4">
                        <h1>Commande parfaitement passée ✔</h1>
                        <p>Merci d'avoir passé commande chez NTX Technologies.<br> Votre article arrivera d'ici 3 ou 4 jours ouvrable.<br> Veuillez consulter vos mails.</p>
                    </div>
                </div>
            </div>
        </main>
        <% include ../../partials/footer %>
    </body>
</html>