    <% include ../../partials/head %>
    <body class="support">
        <% include ../../partials/navbar %>>
        <main>
            <div class="container">
                <div class="col-12 text-center mt-4">
                    <h1>Message parfaitement envoyé ✔</h1>
                    <p>Aller regarder votre boîtes mails pour voir la copie du message.</p>
                </div>
            </div>
        </main>
        <% include ../../partials/footer %>
    </body>
</html>